*.pem

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.pub

# Chaves Privadas SSH do projeto
env/Dev/project-dev
env/Prod/project-prod
